body {
    background-color: #AFF8DB
}


h1 {
    font-size: 60px;  
    color: #000000;
    font-family: verdana
}

h2 {
    color: black;
}

h3#education-block {
    font-size: 60px 
}

h4.job-title {
}

h2#menu {
    font-weight: bold;
    font-size: 14px;
    color: purple;
}

a {
    color: purple;
}

h2#job {
    color: blue;
}

/* .navlink {
    color: red;
} */